div{
height:299px;
width:245px;
background-color:rgb(90,92,104);
border-radius:10px;
float:right;
}

table{
margin-top:10px;
margin-bottom:25px;
margin-left:5px;
margin-right:10px;
}
#editeur{
background-color:rgb(195,215,152);
border-radius:10px;
height:40px;
width:225px;
border-color:rgb(90,92,104);
margin-bottom:5px;
font-size:2em;
text-align:right;
}
.chiffre{
background-color:rgb(61,64,73);
color:white;
border-color:rgb(61,64,73);
height:50px;
width:50px;
border-radius:10px;
font-size:2em;
text-align:center;
font-family:times new roman;
}
.symbole{
background-color:rgb(188,192,199);
color:white;
border-color:rgb(188,192,199);
height:50px;
width:50px;
border-radius:10px;
font-size:2em;
text-align:center;
}